<div [hidden]="submitted">
<div class="container">
  <h1>Promotion Form</h1>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    {{diagnostic}}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
      </div>

    </div>

    <div class="form-group">
      <label for="alterEgo">Role</label>
      <input type="text"  class="form-control" id="alterEgo"
             [(ngModel)]="model.alterEgo" name="alterEgo">
    </div>

    <div class="form-group">
      <label for="power">Position</label>
      <select class="form-control"  id="power"
              required
              [(ngModel)]="model.power" name="power">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="heroForm.reset()">Reset</button>
  </form>
</div>

</div>

<div [hidden]="!submitted">
  <h2>You submitted the form successfully</h2>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Submit Another form</button>
</div>


<!--...........-->


<div class="container">
  <form>

    <div class="section">
      <div class="row section-header">
          <h2>Candidate Profile</h2>
      </div>
      <div class="form-group row">
        <label for="candidateName" class="col-sm-2 col-form-label">Candidate Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="candidateName" placeholder="Name">
        </div>
        <label for="lob" class="col-sm-2 col-form-label">LOB (Level 4)</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="lob" placeholder="Password">
        </div>
      </div>


      <div class="form-group row">
        <label for="candidateSid" class="col-sm-2 col-form-label">Candidate Sid</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="candidateSid" placeholder="SID">
        </div>
        <label for="jobFamily" class="col-sm-2 col-form-label">Current Job Family</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="jobFamily" placeholder="Job family">
        </div>
      </div>


      <div class="form-group row">
        <label for="managerName" class="col-sm-2 col-form-label">Direct Manager Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="managerName" placeholder="Manager's Name">
        </div>
        <label for="futureJobFamily" class="col-sm-2 col-form-label">Future Job Family (If promoted)</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="futureJobFamily" placeholder="Future Job Family">
        </div>
      </div>


      <div class="form-group row">
        <label for="managerSid" class="col-sm-2 col-form-label">Manager SID</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="managerSid" placeholder="SID">
        </div>
        <label for="region" class="col-sm-2 col-form-label">Region</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="region" placeholder="Region">
        </div>
      </div>


      <div class="form-group row">
        <label for="ctoName" class="col-sm-2 col-form-label">Nominating CTO</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="ctoName" placeholder="Nominating CTO">
        </div>
        <label for="city" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="city" placeholder="City">
        </div>
      </div>
    </div>

    <div class="section">

      <div class="row section-header">
        <h2>Candidate Role</h2>
      </div>
      <div class="form-group row">
        <label for="yearsAtJpmc" class="col-sm-2 col-form-label">Years at JPMC</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="yearsAtJpmc" placeholder="Number Of Years">
        </div>
        <label for="vpInYears" class="col-sm-2 col-form-label">Years in VP title (or equivalent external experience):  </label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="vpInYears" placeholder="Years in VP title">
        </div>
        <label for="directReports" class="col-sm-2 col-form-label">Direct Reports</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="directReports" placeholder="Names of employees directly under you">
        </div>
      </div>


      <div class="form-group row">
        <label for="yearsInCurrentRole" class="col-sm-2 col-form-label">Years in Current Role</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="yearsInCurrentRole" placeholder="Years in Current Role">
        </div>
        <label for="IndustryExperience" class="col-sm-2 col-form-label">Years of Industry /Specialty Experience</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="IndustryExperience" placeholder="Years of Industry Experience">
        </div>
        <label for="matrixReports" class="col-sm-2 col-form-label">Matrix Reports (incl. consultants)</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="matrixReports" placeholder="Matrix Reports">
        </div>
      </div>


      <div class="form-group row">
        <label for="roleType" class="col-sm-2 col-form-label">Role Type</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="roleType" placeholder="Email">
        </div>
        <label for="headcount" class="col-sm-2 col-form-label">Total headcount managed</label>
        <div class="col-sm-2">
          <input type="password" class="form-control" id="headcount" placeholder="headcount">
        </div>
      </div>


      <div class="form-group row">
        <label  class="col-sm-6 col-form-label">Has this candidate been previously nominated for the ED process?</label>
        <div class="col-sm-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="edProcessNomination1" value="option1">
            <label class="form-check-label" for="edProcessNomination1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="edProcessNomination2" value="option2">
            <label class="form-check-label" for="edProcessNomination2">2</label>
          </div>
        </div>
        <label for="year" class="col-sm-2 col-form-label">Year</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="year" placeholder="Year">
        </div>
      </div>



      <div class="form-group row">
        <div class="col-sm-12">
          <label for="feedback">How has the feedback provided to the candidate post process been addressed?</label>
          <textarea class="form-control" id="feedback" rows="3"></textarea>
        </div>
      </div>
    </div>


    <div class="section">

    <div class="row section-header">
        <h2>Candidate Platform/Responsibilities</h2>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <label for="currentRoleAndResponsibilities">
            Provide a brief summary of the candidate’s current role and responsibilities. In your response, address the following:
            <ul>
              <li>
                What makes this an ED role? How will this role continue to develop/grow?
              </li>
              <li>
                For candidates with less than 3 years as Vice President at JPMC, specify prior firm name, description of role, length of time
              </li>
            </ul>
          </label>
          <textarea class="form-control" id="currentRoleAndResponsibilities" rows="3"></textarea>
        </div>
        <div class="col-sm-12">
          <label for="peers">
            Identify Peers/Individuals in similar ED roles (include name, function, and title):
          </label>
          <textarea class="form-control" id="peers" rows="3"></textarea>
        </div>
      </div>
    </div>

    <div class="section candidate-sponsers">
      <div class="row section-header">
        <h2>Candidate Sponsors</h2>
      </div>
      <div class="row">
        <h4>Requirements</h4>
      </div>
      <div class="row">
        <ul>
          <li>All  three Sponsors must be outside candidate’s direct management hierarchy (including the direct manager) </li>
          <li>At least two Sponsors should be at the Managing Director level; one may be an Executive Director</li>
          <li>Sponsors should represent a mix of business clients, technology, functional and risk & control partners where possible</li>
          <li>Candidates in Software Engineering role type should have at least one sponsor who can validate technical competencies</li>
          <li>Sponsors should represent a mix of business clients, technology, functional and risk & control partners where possible</li>
        </ul>
      </div>
      <div class="row">
        <table class="table">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Sponser #1</th>
            <th scope="col">Sponser #2</th>
            <th scope="col">Sponser #3</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Name</th>
            <td><input type="text" class="form-control" id="sponsor1Name" placeholder="Password"></td>
            <td><input type="text" class="form-control" id="sponsor2Name" placeholder="Password"></td>
            <td><input type="text" class="form-control" id="sponsor3Name" placeholder="Password"></td>
          </tr>
          <tr>
            <th scope="row">Sid</th>
            <td><input type="text" class="form-control" id="sponsor1sid" placeholder="Password"></td>
            <td><input type="text" class="form-control" id="sponsor2sid" placeholder="Password"></td>
            <td><input type="text" class="form-control" id="sponsor3sid" placeholder="Password"></td>
          </tr>
          <tr>
            <th scope="row">Level</th>
            <td><input type="text" class="form-control" id="sponsor1level" placeholder="Password"></td>
            <td><input type="text" class="form-control" id="sponsor2level" placeholder="Password"></td>
            <td><input type="text" class="form-control" id="sponsor3level" placeholder="Password"></td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td><input type="text" class="form-control" id="sponsor1role" placeholder="Password"></td>
            <td><input type="text" class="form-control" id="sponsor2role" placeholder="Password"></td>
            <td><input type="text" class="form-control" id="sponsor3role" placeholder="Password"></td>
          </tr>
          <tr>
            <th scope="row">Relationship</th>
            <td><input type="text" class="form-control" id="sponsor1rel" placeholder="Password"></td>
            <td><input type="text" class="form-control" id="sponsor2rel" placeholder="Password"></td>
            <td><input type="text" class="form-control" id="sponsor3rel" placeholder="Password"></td>
          </tr>
          <tr>
            <th scope="row">Phone Number</th>
            <td><input type="number" class="form-control" id="sponsor1phone" placeholder="Password"></td>
            <td><input type="number" class="form-control" id="sponsor2phone" placeholder="Password"></td>
            <td><input type="number" class="form-control" id="sponsor3phone" placeholder="Password"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="section">
      <div class="row section-header form-group">
        <h2>Candidate Impact/Accomplishments Relative to Performance Criteria</h2>
        <div>Include evidence of innovation and examples of leverage in your responses.</div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="businessResults">
            Business Results
            <ul>
              <li>Thinks and acts strategically</li>
              <li>Drives results</li>
              <li>Innovates</li>
            </ul>
          </label>
        </div>
        <div class="col-sm-8">
          <textarea class="form-control" id="businessResults" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="riskAndControls">
            Risks and Controls
            <ul>
              <li>Drives a robust risk and control environment</li>
              <li>Demonstrates expected risk and control behaviors</li>
              <li>Identifies, escalates and remediates issues</li>
            </ul>
          </label>
        </div>
        <div class="col-sm-8">
          <textarea class="form-control" id="riskAndControls" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="teamWorkAndLeadership">
            Teamwork and leadership
            <ul>
              <li>Communicates</li>
              <li>Partners and influences</li>
              <li>Manages performance</li>
              <li>Demonstrates our values and How We Do Business Principles</li>
            </ul>
          </label>
        </div>
        <div class="col-sm-8">
          <textarea class="form-control" id="teamWorkAndLeadership" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="clientCustomerFocus">
            Client Customer Focus
            <ul>
              <li>Builds relationships</li>
              <li>Delivers for the firm</li>
            </ul>
          </label>
        </div>
        <div class="col-sm-8">
          <textarea class="form-control" id="clientCustomerFocus" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="nameAndSign" class="col-sm-3 col-form-label">Reviewed and Submitted By</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="nameAndSign" placeholder="Password">
        </div>
        <label for="date" class="col-sm-3 col-form-label">Date</label>
        <div class="col-sm-3">
          <input type="date" class="form-control" id="date" placeholder="Date">
        </div>
      </div>
    </div>

  </form>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
